flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e9a7b40f.73dbd8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.116",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "df0bd2ec.00cc2",
        "type": "ui_group",
        "name": "Zeitmessung",
        "tab": "fcf53b3f.7c8ed8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c6f066e8.412908",
        "type": "ui_group",
        "name": "Mode",
        "tab": "fcf53b3f.7c8ed8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fcf53b3f.7c8ed8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "569302e0.20698c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "89bf3daa.33f69",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "e9a7b40f.73dbd8",
        "x": 910,
        "y": 180,
        "wires": []
    },
    {
        "id": "900b800b.81acc",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "house/screen/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "e9a7b40f.73dbd8",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "b99400ff.be4b2"
            ]
        ]
    },
    {
        "id": "5de498a2.65e208",
        "type": "ui_text_input",
        "z": "f6f2187d.f17ca8",
        "name": "Text Linie 1",
        "label": "",
        "tooltip": "",
        "group": "df0bd2ec.00cc2",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "anzeigetafel/line1",
        "topicType": "str",
        "x": 670,
        "y": 100,
        "wires": [
            [
                "89bf3daa.33f69"
            ]
        ]
    },
    {
        "id": "cd3b0339.043cb",
        "type": "ui_dropdown",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "Display Mode",
        "tooltip": "",
        "place": "Select option",
        "group": "c6f066e8.412908",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "Welcome",
                "value": "welcome",
                "type": "str"
            },
            {
                "label": "Zeit",
                "value": "time",
                "type": "str"
            },
            {
                "label": "Aus",
                "value": "blank",
                "type": "str"
            },
            {
                "label": "Applause",
                "value": "applause",
                "type": "str"
            },
            {
                "label": "Zeitmessung",
                "value": "timing",
                "type": "str"
            },
            {
                "label": "Lauftext",
                "value": "scrollText",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "anzeigetafel/mode",
        "topicType": "str",
        "x": 660,
        "y": 40,
        "wires": [
            [
                "89bf3daa.33f69"
            ]
        ]
    },
    {
        "id": "74f73a3f.a0cc54",
        "type": "ui_text_input",
        "z": "f6f2187d.f17ca8",
        "name": "Text Linie 2",
        "label": "",
        "tooltip": "",
        "group": "df0bd2ec.00cc2",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "anzeigetafel/line2",
        "topicType": "str",
        "x": 670,
        "y": 160,
        "wires": [
            [
                "89bf3daa.33f69"
            ]
        ]
    },
    {
        "id": "2529d406.982c7c",
        "type": "ui_text_input",
        "z": "f6f2187d.f17ca8",
        "name": "Text Linie 3",
        "label": "",
        "tooltip": "",
        "group": "df0bd2ec.00cc2",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "anzeigetafel/line3",
        "topicType": "str",
        "x": 670,
        "y": 220,
        "wires": [
            [
                "89bf3daa.33f69"
            ]
        ]
    },
    {
        "id": "6ea0c034.347b",
        "type": "ui_text_input",
        "z": "f6f2187d.f17ca8",
        "name": "Text Linie 4",
        "label": "",
        "tooltip": "",
        "group": "df0bd2ec.00cc2",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "anzeigetafel/line4",
        "topicType": "str",
        "x": 670,
        "y": 280,
        "wires": [
            [
                "89bf3daa.33f69"
            ]
        ]
    },
    {
        "id": "8813c2b8.b9311",
        "type": "ui_text_input",
        "z": "f6f2187d.f17ca8",
        "name": "Text Linie 5",
        "label": "",
        "tooltip": "",
        "group": "df0bd2ec.00cc2",
        "order": 0,
        "width": "0",
        "height": "0",
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "anzeigetafel/line5",
        "topicType": "str",
        "x": 670,
        "y": 340,
        "wires": [
            [
                "89bf3daa.33f69"
            ]
        ]
    },
    {
        "id": "b99400ff.be4b2",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "switch (msg.topic){\ncase \"house/screen/mode\":\n    var mode = { payload: msg.payload,topic:msg.topic };\n    break;\ncase \"house/screen/line1\":\n    var line1 = { payload: msg.payload,topic:msg.topic };\n    break;\ncase \"house/screen/line2\":\n    var line2 = { payload: msg.payload,topic:msg.topic };\n    break;\ncase \"house/screen/line3\":\n    var line3 = { payload: msg.payload,topic:msg.topic };\n    break;    \ncase \"house/screen/line4\":\n    var line4 = { payload: msg.payload,topic:msg.topic };\n    break;\ncase \"house/screen/line5\":\n    var line5 = { payload: msg.payload,topic:msg.topic };\n    break;    \n}\nreturn [mode, line1, line2, line3, line4, line5]",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 340,
        "y": 140,
        "wires": [
            [
                "cd3b0339.043cb"
            ],
            [
                "5de498a2.65e208"
            ],
            [
                "74f73a3f.a0cc54"
            ],
            [
                "2529d406.982c7c"
            ],
            [
                "6ea0c034.347b"
            ],
            [
                "8813c2b8.b9311"
            ]
        ]
    }
]